<div id="button_bar">
  <div class="button_container"><img src="images/starred.png" id="starred_button" /></div>
  <div id="starred_badge">39</div>
  
  <div class="button_container"><img src="images/my_repos.png" id="my_repos_button" /></div>
  <div class="button_container"><img src="images/watched.png" id="watched_button" /></div>
  <div class="button_container"><img src="images/search.png" id="search_button" /></div>
  <div class="clear"></div>
</div>

<div style="height: 10px;"></div>

<div x-mojo-element="Spinner" id="exploreSpinner"></div>
<div id="explore"></div>