<center>
  <h3>Gitopotamus</h3>
</center>


<!-- Username -->
<div class="palm-group">
  <div class="palm-group-title">Username</div>
  <div class="palm-list">
    <div class="palm-row single">
      <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
        <div class="title">
          <div id="txtUsername" x-mojo-element="TextField"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- API Token -->
<div class="palm-group">
  <div class="palm-group-title">API Token</div>
  <div class="palm-list">
    <div class="palm-row single">
      <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
        <div class="title">
          <div id="txtApiToken" x-mojo-element="TextField"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="btnLogin" x-mojo-element="Button"></div>